
<!doctype html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>  <?php echo $nncms['site_name']; ?> - 用户中心</title> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/template/user/dist/icons/bootstrap-icons-1.4.0/bootstrap-icons.min.css" type="text/css"> 
    <link rel="stylesheet" href="/template/user/dist/css/bootstrap-docs.css" type="text/css"> 
    <link rel="stylesheet" href="/template/user/dist/css/app.min.css" type="text/css"> 
</head>
<body>
<?php include _include(APP_PATH.'template/user/html/menu.html');?>
<div class="layout-wrapper">
    <?php include _include(APP_PATH.'template/user/html/header.html');?>