<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {inc:public/include.html}
</head>
<body>
    <div class="relative w-full h-full flex flex-col overflow-y-auto overflow-x-hidden overscroll-none no-scrollbar scroll-pt-[6px]" style="align-items: center;">
        <div class="z-50 sticky top-0 md:fixed w-screen">
        {inc:public/head.html}
        </div>
             <div class="w-full grow flex justify-center ">
            <div class="flex flex-1 justify-start flex-col" style="width: 100%;">
                <div class="flex flex-col w-full">
                 
                    {inc:public/slide.html} 
                    {inc:public/cate_nva.html}
                    <div style="display: flex; justify-content: center;">
                        <div class="container w-[100%]">
                           {inc:public/vod_lists.html}
                           {inc:public/vod_list.html}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {inc:public/foot.html}
    </div>
</body>
</html>