<!--<div class="footer">-->
<!--<div class="footer-area">-->
<!--<div class="footer-area-copyright">-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-lg-12">-->
<!--<div class="copyright">-->
<!--<p>&copy; Copyright {$seo.t} 2022. All rights Reserved . niuniucms By</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="back"><a href="#" class="back-top"><i class="las la-long-arrow-alt-up"></i></a></div>
<div class="search">
<div class="container-fluid">
<div class="row">
<div class="col-lg-7 col-md-10 m-auto">
<div class="search-width">
<button type="button" class="close"><i class="far fa-times"></i></button>
<form id="search_form" class="search-form" action="search.html">
<input type="text" name="keyword"  id="keyword" placeholder="视频搜索">
<button type="submit" class="search-btn">搜索</button>
</form>
</div>
</div>
</div>
</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const input = document.getElementById('keyword');
  const form = document.getElementById('search_form'); 
  form.onsubmit = function (e) {
    e.preventDefault(); // 阻止默认提交
    var keyword = input.value.trim();
    if (keyword === '') {
      alert('请输入关键词');
      input.focus();
      return false;
    } 
    var rw ={$conf.url_rewrite_on};
    var url = (rw === 0)
      ? '{$search_url}&keyword=' + encodeURIComponent(keyword)
      : '{$search_url}/' + encodeURIComponent(keyword); 
    window.location.href = url;
  };
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const input = document.getElementById('keywords');
  const form = document.getElementById('search_forms'); 
  form.onsubmit = function (e) {
    e.preventDefault(); // 阻止默认提交
    var keywords = input.value.trim();
    if (keywords === '') {
      alert('请输入关键词');
      input.focus();
      return false;
    } 
    var rw ={$conf.url_rewrite_on};
    var url = (rw === 0)
      ? '{$search_url}&keyword=' + encodeURIComponent(keywords)
      : '{$search_url}/' + encodeURIComponent(keywords); 
    window.location.href = url;
  };
});
</script>
<script src="{$path_tpl}/js/jQuery3.js"></script>
<script src="{$path_tpl}/js/jQuery.js"></script>