<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{$seo.t}-{$cate.name}-{$video.name}</title>
<meta name="author" content="{$seo.t}">
<meta name="keywords" content="{$seo.d},{$cate.name},{$video.name}">
<meta name="description" content="{$seo.k},{$cate.name},{$video.name}">
<link rel="icon" sizes="16x16" href="/template/9C18A513/img/favicon.png">
<link rel="stylesheet" href="/template/9C18A513/css/bootstrap.min.css">
<link rel="stylesheet" href="/template/9C18A513/css/owl.carousel.css">
<link rel="stylesheet" href="/template/9C18A513/css/line-awesome.min.css">
<link rel="stylesheet" href="/template/9C18A513/css/fontawesome.css">
<link rel="stylesheet" href="/template/9C18A513/css/style.css">
</head>
<body>
<!-- 页头 开始 -->
{inc:header.html}
<!-- 页头 结束 -->
<section class="post-single">
<div class="container-fluid">
<!-- 广告开始
<p style="margin:5px 0;"><a href="广告链接" target="_blank"><img src="广告图片" style="width:1200px;height:120px;"></a></p>
广告结束 -->
<div class="row">
<div class="col-lg-12">
<div class="post-single-body">
<div class="post-single-title">
<h2>{$video.name}</h2>
<div  class="meta-social">
<ul class="entry-meta">
<li class="post-author-img"><img src="{$video.pic}" alt="{$video.name}"></li>
<li class="post-author"><a href="{$cate.url}">{$cate.name}</a></li>
<li class="post-date"><span class="line"></span>{$video.create_date_fmt_ymd}</li>
</ul>
</div>
</div>
</div>
<div class="post-single-image">
<div class="embed-responsive embed-responsive-play player-box">
{if:$user_access=='1'}
{if:$conf['danmu']['on']==0}
<div style="position: relative; width: 100%;">
{inc:danmu.html}
{else}
<div style="position: relative; width: 100%; padding-top: 56.25%;">
<iframe src="{$player}" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;" allowfullscreen></iframe>
{/if}
{else}
<div style="position: relative; width: 100%; padding-top: 56.25%;">
{inc:public/player.html}
{/if}
</div>
<div style="margin-top:15px;">{inc:public/like.html}</div>

</div>
<!-- 试看提示-开始 试看提示-结束 -->
</div>
<div class="post-single-body">
<div class="post-single-content">
<p><button class="btn-submit" onCLick="location.href='{$play_urls}';">在线播放</button></p>
<h4>相关推荐</h4>
<div class="image-groupe">
{loop:$likelist $v}
<div class="image"><a href="{$v.url}" title="{$v.name}"><img src="{$v.pic}" alt="{$v.name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div>
{/loop}
</div>
<div class="image-groupe">
{loop:$likelist $v}
<div class="image"><a href="{$v.url}" title="{$v.name}"><img src="{$v.pic}" alt="{$v.name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div>
{/loop}
</div>
</div>
<div class="post-single-bottom"> 
<div class="tags">
<ul class="list-inline">
<li><a href="/?m=video_search*舔*1" title="舔" target="_blank">舔</a></li>
<li><a href="/?m=video_search*91*1" title="91" target="_blank">91</a></li>
<li><a href="/?m=video_search*3P*1" title="3P" target="_blank">3P</a></li>
<li><a href="/?m=video_search*SM*1" title="SM" target="_blank">SM</a></li>
<li><a href="/?m=video_search*ktv*1" title="ktv" target="_blank">ktv</a></li>
<li><a href="/?m=video_search*COS*1" title="COS" target="_blank">COS</a></li>
<li><a href="/?m=video_search*插b*1" title="插b" target="_blank">插b</a></li>
<li><a href="/?m=video_search*1pon*1" title="1pon" target="_blank">1pon</a></li>
<li><a href="/?m=video_search*Paco*1" title="Paco" target="_blank">Paco</a></li>
<li><a href="/?m=video_search*Carib*1" title="Carib" target="_blank">Carib</a></li>
<li><a href="/?m=video_search*淫穴*1" title="淫穴" target="_blank">淫穴</a></li>
<li><a href="/?m=video_search*另类*1" title="另类" target="_blank">另类</a></li>
<li><a href="/?m=video_search*全裸*1" title="全裸" target="_blank">全裸</a></li>
<li><a href="/?m=video_search*宅男*1" title="宅男" target="_blank">宅男</a></li>
<li><a href="/?m=video_search*医院*1" title="医院" target="_blank">医院</a></li>
<li><a href="/?m=video_search*淑女*1" title="淑女" target="_blank">淑女</a></li>
<li><a href="/?m=video_search*姐姐*1" title="姐姐" target="_blank">姐姐</a></li>
<li><a href="/?m=video_search*初恋*1" title="初恋" target="_blank">初恋</a></li>
<li><a href="/?m=video_search*女友*1" title="女友" target="_blank">女友</a></li>
<li><a href="/?m=video_search*素人*1" title="素人" target="_blank">素人</a></li>
<li><a href="/?m=video_search*灌醉*1" title="灌醉" target="_blank">灌醉</a></li>
<li><a href="/?m=video_search*骚逼*1" title="骚逼" target="_blank">骚逼</a></li>
<li><a href="/?m=video_search*长腿*1" title="长腿" target="_blank">长腿</a></li>
<li><a href="/?m=video_search*妹纸*1" title="妹纸" target="_blank">妹纸</a></li>
<li><a href="/?m=video_search*嫩逼*1" title="嫩逼" target="_blank">嫩逼</a></li>
<li><a href="/?m=video_search*厕所*1" title="厕所" target="_blank">厕所</a></li>
<li><a href="/?m=video_search*无码*1" title="无码" target="_blank">无码</a></li>
<li><a href="/?m=video_search*露脸*1" title="露脸" target="_blank">露脸</a></li>
<li><a href="/?m=video_search*纹身*1" title="纹身" target="_blank">纹身</a></li>
<li><a href="/?m=video_search*电车*1" title="电车" target="_blank">电车</a></li>
<li><a href="/?m=video_search*情趣*1" title="情趣" target="_blank">情趣</a></li>
<li><a href="/?m=video_search*淫水*1" title="淫水" target="_blank">淫水</a></li>
<li><a href="/?m=video_search*捆绑*1" title="捆绑" target="_blank">捆绑</a></li>
<li><a href="/?m=video_search*搭讪*1" title="搭讪" target="_blank">搭讪</a></li>
<li><a href="/?m=video_search*自慰*1" title="自慰" target="_blank">自慰</a></li>
<li><a href="/?m=video_search*肤白*1" title="肤白" target="_blank">肤白</a></li>
<li><a href="/?m=video_search*表姐*1" title="表姐" target="_blank">表姐</a></li>
<li><a href="/?m=video_search*白丝*1" title="白丝" target="_blank">白丝</a></li>
<li><a href="/?m=video_search*约炮*1" title="约炮" target="_blank">约炮</a></li>
<li><a href="/?m=video_search*高挑*1" title="高挑" target="_blank">高挑</a></li>
<li><a href="/?m=video_search*后门*1" title="后门" target="_blank">后门</a></li>
<li><a href="/?m=video_search*透明*1" title="透明" target="_blank">透明</a></li>
<li><a href="/?m=video_search*18岁*1" title="18岁" target="_blank">18岁</a></li>
<li><a href="/?m=video_search*国产*1" title="国产" target="_blank">国产</a></li>
<li><a href="/?m=video_search*借贷*1" title="借贷" target="_blank">借贷</a></li>
<li><a href="/?m=video_search*欧美*1" title="欧美" target="_blank">欧美</a></li>
<li><a href="/?m=video_search*自拍*1" title="自拍" target="_blank">自拍</a></li>
<li><a href="/?m=video_search*偷拍*1" title="偷拍" target="_blank">偷拍</a></li>
<li><a href="/?m=video_search*萝莉*1" title="萝莉" target="_blank">萝莉</a></li>
<li><a href="/?m=video_search*学妹*1" title="学妹" target="_blank">学妹</a></li>
<li><a href="/?m=video_search*情侣*1" title="情侣" target="_blank">情侣</a></li>
<li><a href="/?m=video_search*空姐*1" title="空姐" target="_blank">空姐</a></li>
<li><a href="/?m=video_search*模特*1" title="模特" target="_blank">模特</a></li>
<li><a href="/?m=video_search*护士*1" title="护士" target="_blank">护士</a></li>
<li><a href="/?m=video_search*丝袜*1" title="丝袜" target="_blank">丝袜</a></li>
<li><a href="/?m=video_search*乱伦*1" title="乱伦" target="_blank">乱伦</a></li>
<li><a href="/?m=video_search*双飞*1" title="双飞" target="_blank">双飞</a></li>
<li><a href="/?m=video_search*人妻*1" title="人妻" target="_blank">人妻</a></li>
<li><a href="/?m=video_search*迷奸*1" title="迷奸" target="_blank">迷奸</a></li>
<li><a href="/?m=video_search*强奸*1" title="强奸" target="_blank">强奸</a></li>
<li><a href="/?m=video_search*巨乳*1" title="巨乳" target="_blank">巨乳</a></li>
<li><a href="/?m=video_search*制服*1" title="制服" target="_blank">制服</a></li>
<li><a href="/?m=video_search*剧情*1" title="剧情" target="_blank">剧情</a></li>
<li><a href="/?m=video_search*网红*1" title="网红" target="_blank">网红</a></li>
<li><a href="/?m=video_search*主播*1" title="主播" target="_blank">主播</a></li>
<li><a href="/?m=video_search*肛交*1" title="肛交" target="_blank">肛交</a></li>
<li><a href="/?m=video_search*足交*1" title="足交" target="_blank">足交</a></li>
<li><a href="/?m=video_search*口交*1" title="口交" target="_blank">口交</a></li>
<li><a href="/?m=video_search*动漫*1" title="动漫" target="_blank">动漫</a></li>
<li><a href="/?m=video_search*同事*1" title="同事" target="_blank">同事</a></li>
<li><a href="/?m=video_search*超模*1" title="超模" target="_blank">超模</a></li>
<li><a href="/?m=video_search*少妇*1" title="少妇" target="_blank">少妇</a></li>
<li><a href="/?m=video_search*大奶*1" title="大奶" target="_blank">大奶</a></li>
<li><a href="/?m=video_search*直播*1" title="直播" target="_blank">直播</a></li>
<li><a href="/?m=video_search*嫩妹*1" title="嫩妹" target="_blank">嫩妹</a></li>
<li><a href="/?m=video_search*美胸*1" title="美胸" target="_blank">美胸</a></li>
<li><a href="/?m=video_search*无套*1" title="无套" target="_blank">无套</a></li>
<li><a href="/?m=video_search*后入*1" title="后入" target="_blank">后入</a></li>
<li><a href="/?m=video_search*尤物*1" title="尤物" target="_blank">尤物</a></li>
<li><a href="/?m=video_search*美腿*1" title="美腿" target="_blank">美腿</a></li>
<li><a href="/?m=video_search*高跟*1" title="高跟" target="_blank">高跟</a></li>
<li><a href="/?m=video_search*少女*1" title="少女" target="_blank">少女</a></li>
<li><a href="/?m=video_search*金发*1" title="金发" target="_blank">金发</a></li>
<li><a href="/?m=video_search*御姐*1" title="御姐" target="_blank">御姐</a></li>
<li><a href="/?m=video_search*偷情*1" title="偷情" target="_blank">偷情</a></li>
<li><a href="/?m=video_search*乳交*1" title="乳交" target="_blank">乳交</a></li>
<li><a href="/?m=video_search*拳交*1" title="拳交" target="_blank">拳交</a></li>
<li><a href="/?m=video_search*下药*1" title="下药" target="_blank">下药</a></li>
<li><a href="/?m=video_search*做爱*1" title="做爱" target="_blank">做爱</a></li>
<li><a href="/?m=video_search*上司*1" title="上司" target="_blank">上司</a></li>
<li><a href="/?m=video_search*援交*1" title="援交" target="_blank">援交</a></li>
<li><a href="/?m=video_search*学生*1" title="学生" target="_blank">学生</a></li>
<li><a href="/?m=video_search*野外*1" title="野外" target="_blank">野外</a></li>
<li><a href="/?m=video_search*萌妹*1" title="萌妹" target="_blank">萌妹</a></li>
<li><a href="/?m=video_search*黑人*1" title="黑人" target="_blank">黑人</a></li>
<li><a href="/?m=video_search*大秀*1" title="大秀" target="_blank">大秀</a></li>
<li><a href="/?m=video_search*丰满*1" title="丰满" target="_blank">丰满</a></li>
<li><a href="/?m=video_search*唯美*1" title="唯美" target="_blank">唯美</a></li>
<li><a href="/?m=video_search*另类*1" title="另类" target="_blank">另类</a></li>
<li><a href="/?m=video_search*特写*1" title="特写" target="_blank">特写</a></li>
<li><a href="/?m=video_search*爆菊*1" title="爆菊" target="_blank">爆菊</a></li>
<li><a href="/?m=video_search*炮友*1" title="炮友" target="_blank">炮友</a></li>
<li><a href="/?m=video_search*白虎*1" title="白虎" target="_blank">白虎</a></li>
<li><a href="/?m=video_search*女儿*1" title="女儿" target="_blank">女儿</a></li>
<li><a href="/?m=video_search*孙女*1" title="孙女" target="_blank">孙女</a></li>
<li><a href="/?m=video_search*滴蜡*1" title="滴蜡" target="_blank">滴蜡</a></li>
<li><a href="/?m=video_search*高潮*1" title="高潮" target="_blank">高潮</a></li>
<li><a href="/?m=video_search*酒店*1" title="酒店" target="_blank">酒店</a></li>
<li><a href="/?m=video_search*变态*1" title="变态" target="_blank">变态</a></li>
<li><a href="/?m=video_search*性虐*1" title="性虐" target="_blank">性虐</a></li>
<li><a href="/?m=video_search*抽插*1" title="抽插" target="_blank">抽插</a></li>
<li><a href="/?m=video_search*外围*1" title="外围" target="_blank">外围</a></li>
<li><a href="/?m=video_search*女神*1" title="女神" target="_blank">女神</a></li>
<li><a href="/?m=video_search*学院*1" title="学院" target="_blank">学院</a></li>
<li><a href="/?m=video_search*黑丝*1" title="黑丝" target="_blank">黑丝</a></li>
<li><a href="/?m=video_search*淫乱*1" title="淫乱" target="_blank">淫乱</a></li>
<li><a href="/?m=video_search*90后*1" title="90后" target="_blank">90后</a></li>
<li><a href="/?m=video_search*会所*1" title="会所" target="_blank">会所</a></li>
<li><a href="/?m=video_search*肥臀*1" title="肥臀" target="_blank">肥臀</a></li>
<li><a href="/?m=video_search*喷潮*1" title="喷潮" target="_blank">喷潮</a></li>
<li><a href="/?m=video_search*美眉*1" title="美眉" target="_blank">美眉</a></li>
<li><a href="/?m=video_search*粉嫩*1" title="粉嫩" target="_blank">粉嫩</a></li>
<li><a href="/?m=video_search*国语*1" title="国语" target="_blank">国语</a></li>
<li><a href="/?m=video_search*虐待*1" title="虐待" target="_blank">虐待</a></li>
<li><a href="/?m=video_search*大屌*1" title="大屌" target="_blank">大屌</a></li>
<li><a href="/?m=video_search*妹妹*1" title="妹妹" target="_blank">妹妹</a></li>
<li><a href="/?m=video_search*妈妈*1" title="妈妈" target="_blank">妈妈</a></li>
<li><a href="/?m=video_search*爸爸*1" title="爸爸" target="_blank">爸爸</a></li>
<li><a href="/?m=video_search*迷药*1" title="迷药" target="_blank">迷药</a></li>
<li><a href="/?m=video_search*吹箫*1" title="吹箫" target="_blank">吹箫</a></li>
<li><a href="/?m=video_search*爆乳*1" title="爆乳" target="_blank">爆乳</a></li>
<li><a href="/?m=video_search*泳池*1" title="泳池" target="_blank">泳池</a></li>
<li><a href="/?m=video_search*尾随*1" title="尾随" target="_blank">尾随</a></li>
<li><a href="/?m=video_search*推油*1" title="推油" target="_blank">推油</a></li>
<li><a href="/?m=video_search*迷晕*1" title="迷晕" target="_blank">迷晕</a></li>
<li><a href="/?m=video_search*大胸*1" title="大胸" target="_blank">大胸</a></li>
<li><a href="/?m=video_search*处女*1" title="处女" target="_blank">处女</a></li>
<li><a href="/?m=video_search*调教*1" title="调教" target="_blank">调教</a></li>
<li><a href="/?m=video_search*教室*1" title="教室" target="_blank">教室</a></li>
<li><a href="/?m=video_search*秘书*1" title="秘书" target="_blank">秘书</a></li>
<li><a href="/?m=video_search*极品*1" title="极品" target="_blank">极品</a></li>
<li><a href="/?m=video_search*勾引*1" title="勾引" target="_blank">勾引</a></li>
<li><a href="/?m=video_search*双穴*1" title="双穴" target="_blank">双穴</a></li>
<li><a href="/?m=video_search*苗条*1" title="苗条" target="_blank">苗条</a></li>
<li><a href="/?m=video_search*闺蜜*1" title="闺蜜" target="_blank">闺蜜</a></li>
<li><a href="/?m=video_search*大学*1" title="大学" target="_blank">大学</a></li>
<li><a href="/?m=video_search*高中*1" title="高中" target="_blank">高中</a></li>
<li><a href="/?m=video_search*道具*1" title="道具" target="_blank">道具</a></li>
<li><a href="/?m=video_search*初恋*1" title="初恋" target="_blank">初恋</a></li>
<li><a href="/?m=video_search*诱惑*1" title="诱惑" target="_blank">诱惑</a></li>
<li><a href="/?m=video_search*浴室*1" title="浴室" target="_blank">浴室</a></li>
<li><a href="/?m=video_search*猛插*1" title="猛插" target="_blank">猛插</a></li>
<li><a href="/?m=video_search*儿子*1" title="儿子" target="_blank">儿子</a></li>
<li><a href="/?m=video_search*发情*1" title="发情" target="_blank">发情</a></li>
<li><a href="/?m=video_search*开放*1" title="开放" target="_blank">开放</a></li>
<li><a href="/?m=video_search*宾馆*1" title="宾馆" target="_blank">宾馆</a></li>
<li><a href="/?m=video_search*嫩穴*1" title="嫩穴" target="_blank">嫩穴</a></li>
<li><a href="/?m=video_search*表妹*1" title="表妹" target="_blank">表妹</a></li>
<li><a href="/?m=video_search*姐夫*1" title="姐夫" target="_blank">姐夫</a></li>
<li><a href="/?m=video_search*翘臀*1" title="翘臀" target="_blank">翘臀</a></li>
<li><a href="/?m=video_search*淫叫*1" title="淫叫" target="_blank">淫叫</a></li>
<li><a href="/?m=video_search*多水*1" title="多水" target="_blank">多水</a></li>
<li><a href="/?m=video_search*内射*1" title="内射" target="_blank">内射</a></li>
<li><a href="/?m=video_search*气质*1" title="气质" target="_blank">气质</a></li>
<li><a href="/?m=video_search*喝酒*1" title="喝酒" target="_blank">喝酒</a></li>
<li><a href="/?m=video_search*天使*1" title="天使" target="_blank">天使</a></li>
<li><a href="/?m=video_search*啪啪*1" title="啪啪" target="_blank">啪啪</a></li>
<li><a href="/?m=video_search*面具*1" title="面具" target="_blank">面具</a></li>
<li><a href="/?m=video_search*骚女*1" title="骚女" target="_blank">骚女</a></li>
<li><a href="/?m=video_search*淫荡*1" title="淫荡" target="_blank">淫荡</a></li>
<li><a href="/?m=video_search*宅男*1" title="宅男" target="_blank">宅男</a></li>
<li><a href="/?m=video_search*病房*1" title="病房" target="_blank">病房</a></li>
<li><a href="/?m=video_search*房东*1" title="房东" target="_blank">房东</a></li>
<li><a href="/?m=video_search*针孔*1" title="针孔" target="_blank">针孔</a></li>
<li><a href="/?m=video_search*打炮*1" title="打炮" target="_blank">打炮</a></li>
<li><a href="/?m=video_search*鲜肉*1" title="鲜肉" target="_blank">鲜肉</a></li>
<li><a href="/?m=video_search*对白*1" title="对白" target="_blank">对白</a></li>
<li><a href="/?m=video_search*家里*1" title="家里" target="_blank">家里</a></li>
<li><a href="/?m=video_search*颜值*1" title="颜值" target="_blank">颜值</a></li>
<li><a href="/?m=video_search*土豪*1" title="土豪" target="_blank">土豪</a></li>
<li><a href="/?m=video_search*淫乱*1" title="淫乱" target="_blank">淫乱</a></li>
<li><a href="/?m=video_search*销魂*1" title="销魂" target="_blank">销魂</a></li>
<li><a href="/?m=video_search*开档*1" title="开档" target="_blank">开档</a></li>
<li><a href="/?m=video_search*无套*1" title="无套" target="_blank">无套</a></li>
<li><a href="/?m=video_search*白领*1" title="白领" target="_blank">白领</a></li>
<li><a href="/?m=video_search*爱液*1" title="爱液" target="_blank">爱液</a></li>
<li><a href="/?m=video_search*娇嫩*1" title="娇嫩" target="_blank">娇嫩</a></li>
<li><a href="/?m=video_search*呻吟*1" title="呻吟" target="_blank">呻吟</a></li>
<li><a href="/?m=video_search*屁眼*1" title="屁眼" target="_blank">屁眼</a></li>
<li><a href="/?m=video_search*女王*1" title="女王" target="_blank">女王</a></li>
<li><a href="/?m=video_search*咪咪*1" title="咪咪" target="_blank">咪咪</a></li>
<li><a href="/?m=video_search*不雅*1" title="不雅" target="_blank">不雅</a></li>
<li><a href="/?m=video_search*清纯*1" title="清纯" target="_blank">清纯</a></li>
<li><a href="/?m=video_search*精油*1" title="精油" target="_blank">精油</a></li>
<li><a href="/?m=video_search*淋浴*1" title="淋浴" target="_blank">淋浴</a></li>
<li><a href="/?m=video_search*一本道*1" title="一本道" target="_blank">一本道</a></li>
<li><a href="/?m=video_search*摄像头*1" title="摄像头" target="_blank">摄像头</a></li>
<li><a href="/?m=video_search*一字马*1" title="一字马" target="_blank">一字马</a></li>
<li><a href="/?m=video_search*办公室*1" title="办公室" target="_blank">办公室</a></li>
<li><a href="/?m=video_search*连衣裙*1" title="连衣裙" target="_blank">连衣裙</a></li>
<li><a href="/?m=video_search*按摩器*1" title="按摩器" target="_blank">按摩器</a></li>
<li><a href="/?m=video_search*粉木耳*1" title="粉木耳" target="_blank">粉木耳</a></li>
<li><a href="/?m=video_search*更衣室*1" title="更衣室" target="_blank">更衣室</a></li>
<li><a href="/?m=video_search*卫生间*1" title="卫生间" target="_blank">卫生间</a></li>
<li><a href="/?m=video_search*富二代*1" title="富二代" target="_blank">富二代</a></li>
<li><a href="/?m=video_search*牛仔裤*1" title="牛仔裤" target="_blank">牛仔裤</a></li>
<li><a href="/?m=video_search*小姨子*1" title="小姨子" target="_blank">小姨子</a></li>
<li><a href="/?m=video_search*俱乐部*1" title="俱乐部" target="_blank">俱乐部</a></li>
<li><a href="/?m=video_search*拜金女*1" title="拜金女" target="_blank">拜金女</a></li>
<li><a href="/?m=video_search*小媳妇*1" title="小媳妇" target="_blank">小媳妇</a></li>
</ul>
</div>
</div>
<div class="post-single-comments">
<h4 class="full-top">用户喜欢</h4>
<ul class="comments">
{loop:$likelist $v}
<li class="comment-item pt-0"><a href="{$v.url}" title="{$v.name}"><img src="{$v.pic}" alt="{$v.name}"></a><div class="content"><div class="meta"><ul class="list-inline"><li><a href="{$cate.url}">{$cate.name}</a></li><li class="slash"></li><li>{$v.views} 人观看</li></ul></div><p>{$v.name}</p><a href="{$v.url}" title="{$v.name}" class="btn-reply"><i class="las la-play"></i> 在线播放</a></div></li>
{/loop}
{loop:$likelist $v}
<li class="comment-item"><a href="{$v.url}" title="{$v.name}"><img src="{$v.pic}" alt="{$v.name}"></a><div class="content"><div class="meta"><ul class="list-inline"><li><a href="{$cate.url}">{$cate.name}</a></li><li class="slash"></li><li>{$v.views} 人观看</li></ul></div><p>{$v.name}</p><a href="{$v.url}" title="{$v.name}" class="btn-reply"><i class="las la-play"></i> 在线播放</a></div></li>
{/loop}
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="instagram">
<div class="container-fluid">
<div class="instagram-area">
<div class="instagram-list">
{loop:$likelist $v}
<div class="instagram-item"><a href="{$v.url}" title="{$v.name}"><img src="{$v.pic}" alt="{$v.name}"><div class="icon"><i class="las la-play"></i></div></a></div>
{/loop}
</div>
</div>
</div>
</div>
<!-- 页尾 开始 -->
{inc:footer.html}
<!-- 页尾 结束 -->
<script src="/template/9C18A513/js/popper.min.js"></script>
<script src="/template/9C18A513/js/bootstrap.min.js"></script>
<script src="/template/9C18A513/js/theia-sticky-sidebar.js"></script>
<script src="/template/9C18A513/js/ajax-contact.js"></script>
<script src="/template/9C18A513/js/owl.carousel.min.js"></script>
<script src="/template/9C18A513/js/switch.js"></script>
<script src="/template/9C18A513/js/jquery.marquee.js"></script>
<script src="/template/9C18A513/js/main.js"></script>

</body>
</html>